
# Created by https://www.gitignore.io/api/netbeans,java

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# word #
*.docx

# Exercise solutions #
solution/

# node
**/node_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
demo/day4/usedCarsRouter/.idea/

demo/day4/usedCarsRouter/.idea/workspace.xml

exercises/MY SOLUTION/Problem 1/.idea/misc.xml

exercises/MY SOLUTION/Problem 1/.idea/modules.xml

exercises/MY SOLUTION/Problem 1/.idea/vcs.xml

exercises/MY SOLUTION/Problem 1/.idea/Problem 1.iml

exercises/MY SOLUTION/Problem 1/.idea/workspace.xml

exercises/MY SOLUTION/Problem 1/.idea/markdown-navigator/profiles_settings.xml
exercises/MY SOLUTION/Problem 1/.idea/markdown-navigator.xml

demo/day4/usedCarsRouter/.idea/workspace.xml

demo/day4/usedCarsRouter/.idea/markdown-navigator/profiles_settings.xml

demo/day4/usedCarsRouter/.idea/markdown-navigator.xml
