.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.active {
  color: #feca0c;
}
.container{
  border: 1px solid black;
}
.container > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container > ul > li{
  float: left;
}
.container {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
#repos{
  border: 1px solid green;
  width: 200px;
  height: auto;
  display: inline-block;
}
#subbody{
  display: inline-block;
  width: 80%;
}
.component, #notfound, #repo{
  border: 1px solid blue;
}
